.izpvahmjbl {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
}

.hditkilyzd {
  padding: 20px 0;
  display: flex;
  justify-content: left;
  align-items: center;

  .etxecsjvcl {
    margin-right: 16px;
    padding: 4px 24px;
    border-radius: 20px;
    border: 2px groove #d5c8c8;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
  }
}

.ltmmijfpsd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .jtdqcjiino {
    flex-basis: calc(33% - 12px);
  }
}