.tvwdoceewt {
  position: fixed;
  bottom: 0;
  background-color: #130C1C;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #3b383e;

  .cyyshwcuqk {
    flex-basis: calc(15% - 8px);
  }

  .kzfyhcvxud {
    flex-basis: calc(70% - 8px);
    width: 100%;

    .rhap_skip-button {
      width: 20px;
      height: 20px;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    .rhap_play-pause-button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 10px;

      svg {
        width: 60px;
        height: 60px;
      }
    }
  }

  .gbqgkdjqwi {
    flex-basis: calc(15% - 8px);
    display: flex;
    align-items: center;
    justify-content: end;

    .ozgceppxsj {
      width: 20px;
      height: 20px;
      margin: 10px;
    }
  }
}