.smfgfremag {
  width: 100%;

  .rxbrbwhxrx {
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
  }

  .qtbdyqcgkb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;

    .aksumtvqgj {
      flex-basis: calc(20% - 24px);

      .qfgknudtqa {
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        display: flex;

        &:hover {
          .yfjmslvdfs {
            display: flex;
          }
        }

        .ddvbdxnnwi {
          width: 100%;
          transition: 0.5s all ease-in-out;
          border-radius: 10px;

          &:hover {
            opacity: 0.5;
            transform: scale(1.2);
          }
        }

        .yfjmslvdfs {
          display: none;
          width: 100%;
          justify-content: space-evenly;
          align-items: center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          .hhekvibugv {
            background: #333333;
            padding: 0;

            .ant-popover-inner {
              background-color: transparent;
              box-shadow: unset;
            }

            .ant-popover-arrow-content {
              background: #333333;
              --antd-arrow-background-color: #333333;
            }
          }

          .tcegurkgrc {
            display: flex;
            padding: 4px;

            &:hover {
              background: #beb2b2;
              border-radius: 50%;
            }

            svg {
              width: 20px;
              height: 20px;
            }
          }

          .etzfnsfikx {
            border-radius: 50%;
            border: 1px solid #fff;
            padding: 8px;
          }
        }
      }

      .rcihfvlxsd {
        padding: 8px 0;
        font-weight: 700;
      }

      .udwhpapqfs {
        opacity: 0.5;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
}