.mrpxntzgke {

  .mofhtivwys {
    padding: 12px 21px;

    &:hover {
      background: #b4a7c8;
    }

    .bkmppahjqc {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: start;

      .bcfvmcjqhu {
        margin-right: 12px;
      }

      .zlpdcssnij {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        width: 100%;

        &:hover {
          font-weight: 600;
        }
      }
    }
  }
}