.mrpxntzgke {

  .mofhtivwys {
    padding: 12px 21px;

    &:hover {
      background: #b4a7c8;
    }

    .bkmppahjqc {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .bcfvmcjqhu {
        margin-right: 12px;

        @media (max-width:1200px) {
          margin-right: 0;
        }
      }

      .zlpdcssnij {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        width: 100%;

        &:hover {
          font-weight: 600;
        }

        @media (max-width: 1200px) {
          display: none;
        }
      }
    }
  }
}