.cwhkbhdwti {
  width: 100%;
  max-width: 330px;
  padding: 0 12px;

  .fmpovgqagv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;

    .radxzrbvgi {
      flex-basis: 70%;
      display: flex;
      align-items: center;
      padding: 4px;
      background: #91819b;
      border: #91819b;
      border-width: 2px;
      border-radius: 999px;
      justify-content: space-between;
      width: 100%;
      height: 32px;
      margin-right: 8px;

      .qmbbalzlix {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        padding: 4px;
        cursor: pointer;
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        white-space: nowrap;

        &:hover {
          background: #604d6c;
          border-radius: 10px;
        }
      }
    }

    .tnpflgerms {
      flex-basis: 30%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .dtyfzahijm {
        margin: 0 4px;
        padding: 8px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        cursor: pointer;
        border-style: none;
        background: #2a1151;

        .uitghwlgrh {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .asxzhtjjxr {
    padding: 12px 0;
  }
}