.kybqblbsmr {
  position: relative;
  padding: 4px 0;
  width: 100%;

  &:hover {
    .jlbgbmkehm {
      display: flex;
    }
  }

  .ibymmdlsiw {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 10px;

    &:hover {
      background: #a3969680;

      .fyaiadzrcb {
        .gfmutzlmjv {
          opacity: 0.5;
        }

        .foxyurbrwb {
          display: block;
        }
      }
    }

    .fyaiadzrcb {
      position: relative;
      margin-right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      .gfmutzlmjv {
        width: 45px;
        height: 45px;
        object-fit: cover;
        border-radius: 10px;
      }

      .foxyurbrwb {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &:hover {
          cursor: pointer;
        }
      }
    }

    .ionozpfoim {
      display: flex;
      flex-direction: column;
      width: 100%;

      .psvgsgslfp {
        font-size: 14px;
        font-weight: 500;
      }

      .kdiczzbvtf {
        font-size: 12px;
        color: #ffffff80;
      }
    }
  }

  .jlbgbmkehm {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    display: none;

    .akrlfhazbs {
      margin-right: 8px;
      width: 16px;
      height: 16px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}