.kxbovgjmpw {
  padding: 12px 0;

  .ohwxinitqm {
    padding: 0 12px;

    &:focus-visible {
      outline: none;
    }

    img {
      border-radius: 16px;
      height: 180px;
      width: 100%;
    }
  }
}